body {
  padding-top: 70px;
}

/* Header */
.primary_nav {
  background: #2d3e50;
  color: white;
  line-height: 80px;
}
/* end Header */

/* Main */
.ms_section-primary {
  background: #1abc9c;
  color: #FFF;
}
.ms_section-secondary {
  background: #2c3e50;
}
/* components */


.ms_jumbotrom {
  background: #1abc9c;
  text-align: center;
  color: #fff;
  padding: 32px 0;
}

/* portfolio */
.ms_portfolio {
  text-align: center;
}
.ms_portfolio-item {
  background: #ba4b63;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
}
/* end portfolio */

/* About */
.ms_about {
  padding: 0 30px;
  text-align: center;
  background: #1abc9c;
  color: #fff;
}

/* end About */

@media screen and (min-width: 768px) {
  .ms_jumbotrom {
    padding: 48px 0;
  }
}
