/* General rulez */
body {
  min-width: 320px;
  padding-top: 70px;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
p {
  font-size: 20px;
}
/* end General rulez */

/* components */
.ms_divider {
  margin: 15px;
  font-size: 2.1em;
}
.ms_divider::after,
.ms_divider::before {
  content: " ";
  display: inline-block;
  width: 160px;
  height: 4px;
  background: #fff;
  position: relative;
  vertical-align: middle;
  border-radius: 5px;
}
.ms_divider.blue::after,
.ms_divider.blue::before {
  background: #2c3e50;
}
.ms_section-primary,
.ms_section-secondary {
  padding: 32px 0;
  text-align: center;
}
.ms_section-primary {
  background: #1abc9c;
  color: #fff;
}
.ms_section-secondary {
  background: #fff;
  color: #2c3e50;
}
.wrapper_70 {
  max-width: 992px;
  width: 65%;
  margin: 0 auto;
}
/* end components */

/* Header */
header .primary_nav {
  background: #2d3e50;
  color: white;
  line-height: 80px;
}
header .burger_menu {
  font-size: 30px;
}
/* end Header */

/* Main */
main .avatar img {
  height: 300px;
}

/* portfolio */
main .ms_portfolio-item {
  height: 300px;
  margin-bottom: 20px;
}
main .ms_portfolio-item img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
/* end portfolio */

/* about */
.ms_button {
  background: #1abc9c;
  color: #fff;
  border: 1 solid #fff;
  font-size: 20px;
  margin: 20px 0;
}
/* end about */

/* form */
.ms_form {
  border: none;
  border-bottom: 1px solid lightgrey;
  margin: 10px 0;
  box-shadow: none;
}
/* end  form */
/* end Main */

/* Footer */
footer {
  color: #fff;
  text-align: center;
}
footer .footer_section {
  padding: 40px 0;
}
footer .company_info {
  background: #3a546c;
}
footer .company_credits {
  background: #2c3e50;
  margin-bottom: 30px;
  font-size: 15px;
}
footer .company_credits p {
  font-size: 15px;
}

footer .ms_menu li {
  display: inline-block;
  font-size: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  line-height: 50px;
}
footer .link {
  color: #1abc9c;
}
/* end Footer */


@media screen and (max-width: 768px) {
  .ms_divider::after,
  .ms_divider::before  {
    width: 80px;
  }
}
